.loginHeader {
    display: flex;
    align-items: center;
}

#loginImage {
    width: 800px;
    height: 500px;
    object-fit: cover;

}

#registerImage {
    width: 600px;
    height: 250px;
    object-fit: cover;
}

#navbarLogoImage {
    /* border: 2px solid yellow; */
    width: 140px;
}

