@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Space Grotesk", sans-serif;
}
input {
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 15px;
}
a {
	text-decoration: none;
}
.register,
.login,
.home,
.replies,
.modal {
  margin: auto;
	display: flex;
  max-width: 1000px;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 30px;
}
.registerTitle,
.loginTitle,
.homeTitle,
.repliesTitle {
	margin-bottom: 30px;
}
.registerForm,
.loginForm {
	width: 80%;
	display: flex;
	flex-direction: column;

}

.loginBottom,
.registerBottom {
  display: block;
  /* border: 2px solid black; */
}

.registerBtn,
.loginBtn,
.homeBtn,
.modalBtn {
	display: block;
	width: 200px;
	padding: 15px;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;
	color: #fffbf5;
	background-color: #2596be;
	margin-bottom: 15px;
}
.homeForm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin-bottom: 30px;
}
.home__container {
	display: flex;
	flex-direction: column;
	width: 75%;
}
.homeBtn {
	margin-bottom: 0px;
}
.thread__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 20px;
}
.thread__item {
	padding: 20px;
	width: 80%;
	box-shadow: 0 0 1px 1px #92cbdf;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.likes__container {
	display: flex;
	align-items: center;
	margin-right: 25px;
}
.likesBtn {
	height: 30px;
	color: #f99417;
	cursor: pointer;
}
.react__container {
	display: flex;
	align-items: center;
}
.modal {
	background-color: #ddd;
	position: fixed;
}
.modalInput {
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
}
.modal__content {
	background-color: #fff;
	width: 70%;
	padding: 30px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.modal__content > label {
	margin-bottom: 15px;
}
.navbar {
	width: 100%;
	padding: 10px 20px;
	background-color: #2596be;
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: space-between;
}
.navbar > h2 {
	color: #fffbf5;
}
.navbarRight {
	display: flex;
	align-items: center;
}
.navbarRight > button {
	padding: 15px;
	width: 130px;
  height: 50px;
	background-color: #f99417;
	color: #fffbf5;
	font-size: 16px;
	border: none;
	outline: none;
	margin-left: 15px;
	cursor: pointer;
	border-radius: 3px;
}